swagger: '2.0'
info:
    description: <p>Horizon客户端的API文档</p><p>当前目标为适配拥有流通权限的馆员的使用，如'g02b' 'g02c'等以'b' 'c'结尾的馆员</p>
    version: 0.0.2
    title: 上海图书馆HorizonAPI
host: api.library.sh.cn
basePath: /v1
tags:
    -   name: /users
        description: 馆员
        sortWeight: 2
    -   name: /user-perms
        description: 馆员权限
        sortWeight: 3
    -   name: /bl-users
        description: 馆员权限业务逻辑
        sortWeight: 4
    -   name: /borrowers
        description: 读者
        sortWeight: 7
    -   name: /borrower-perms
        description: 读者权限
        sortWeight: 8
    -   name: /btypes
        description: 读者类型
        sortWeight: 9
    -   name: /bl-borrowers
        description: 读者权限业务逻辑
        sortWeight: 10
    -   name: /bibs
        description: 书目
        sortWeight: 12
    -   name: /items
        description: 馆藏
        sortWeight: 13
    -   name: /itypes
        description: 馆藏类型
        sortWeight: 14
    -   name: /blocks
        description: 违规标记类型
        sortWeight: 15
    -   name: /burbs
        description: 罚款
        sortWeight: 16
    -   name: /circs
        description: 当前流通记录
        sortWeight: 17
    -   name: /circs/history
        description: 馆藏流通历史记录(上一条）
        sortWeight: 18
    -   name: /locations
        description: 图书馆分馆
        sortWeight: 19
    -   name: /stat/data
        description: 馆藏流通总记录
        sortWeight: 20
    -   name: /stat/category
        description: 流通记录类型
        sortWeight: 21
    -   name: /messages
        description: 错误代码
        sortWeight: 22
schemes:
    - https
consumes:
    - application/json
produces:
    - application/json
paths:
    '/bibs/{bibId}':
        get:
            tags:
                - /bibs
            summary: 获取该bibId书目信息
            description: <p><br></p>
            operationId: getBibById
            schemes:
                - http
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                -   name: bibId
                    in: path
                    description: The id of the bib to retrieve
                    required: true
                    type: string
                    default: ''
                    format: ''
            responses:
                '200':
                    description: Expected response to a valid request
                    schema:
                        required: false
                        description: Expected response to a valid request
                        $ref: '#/definitions/Bib'
                    sortWeight: 1
                '400':
                    description: Bad request
                    schema:
                        required: false
                        description: Bad request
                        $ref: '#/definitions/Messages'
                    sortWeight: 2
            sortWeight: 3
            devStatus: deving
            devStatusName: 开发中
            showDevStatus: true
            skipCommonParam: false
            label: ''
            developer: ''
            modifyDate: '2018-08-17 21:26:21'
    '/bl-borrowers/{bbarcode}':
        get:
            tags:
                - /bl-borrowers
            summary: 获取该bbarcode读者信息集合
            description: '<p>返回/borrowers/{borrowerId}+/borrower-perms/{borrowerId}</p>'
            operationId: blGetBorrowerByBbarcode
            schemes:
                - http
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                -   name: bbarcode
                    in: path
                    description: 读者二维码
                    required: true
                    type: string
                    default: ''
                    format: ''
            responses:
                '200':
                    description: 返回该bbarcode读者的信息集合
                    schema:
                        required: false
                        description: 返回该bbarcode读者的信息集合
                        $ref: '#/definitions/Borrower'
                    sortWeight: 1
                '400':
                    description: Bad Request
                    schema:
                        required: false
                        description: Bad Request
                        $ref: '#/definitions/Messages'
                    sortWeight: 2
            sortWeight: 2
            devStatus: deving
            devStatusName: 开发中
            showDevStatus: true
            skipCommonParam: false
            label: ''
            developer: ''
            modifyDate: '2018-08-17 21:26:09'
    /bl-users/login:
        post:
            tags:
                - /bl-users
            summary: 馆员登录
            description: <p>馆员登录接口，由于权限控制尚未想好怎么实现，目前直接返回200</p>
            operationId: blLoginUser
            schemes:
                - http
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                -   in: body
                    name: userlogin
                    description: 馆员登录所需账号密码
                    required: true
                    type: string
                    default: ''
            responses:
                '200':
                    description: Login Successfully
                    schema:
                        required: false
                        description: Login Successfully
                        $ref: '#/definitions/Messages'
                    sortWeight: 1
                '400':
                    description: Bad request
                    schema:
                        required: false
                        description: Bad request
                        $ref: '#/definitions/Messages'
                    sortWeight: 2
            sortWeight: 4
            devStatus: deving
            devStatusName: 开发中
            showDevStatus: true
            skipCommonParam: false
            label: ''
            developer: ''
            modifyDate: '2018-08-17 21:25:08'
    '/bl-users/{userId}':
        get:
            tags:
                - /bl-users
            summary: 获取该userId馆员信息集合
            description: '<p>返回/users/{userId}+/user-perms/{userId}</p>'
            operationId: blGetUserById
            schemes:
                - http
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                -   name: userId
                    in: path
                    description: 馆员Id
                    required: true
                    type: string
                    default: ''
                    format: ''
            responses:
                '200':
                    description: 返回该UserId馆员的信息集合
                    schema:
                        required: false
                        description: 返回该UserId馆员的信息集合
                        $ref: '#/definitions/User'
                    sortWeight: 1
                '400':
                    description: Bad Request
                    schema:
                        required: false
                        description: Bad Request
                        $ref: '#/definitions/Messages'
                    sortWeight: 2
            sortWeight: 2
            devStatus: deving
            devStatusName: 开发中
            showDevStatus: true
            skipCommonParam: false
            label: ''
            developer: ''
            modifyDate: '2018-08-17 21:24:56'
    /blocks:
        get:
            tags:
                - /blocks
            summary: 获取违规标记类型
            description: <p><br></p>
            operationId: listBlocks
            schemes:
                - http
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                -   name: limit
                    in: query
                    description: 单次返回最多数量
                    required: false
                    type: integer
                    default: ''
                    format: int32
            responses:
                '200':
                    description: Return a list of blocks
                    schema:
                        required: false
                        description: Return a list of blocks
                        $ref: '#/definitions/Blocks'
                    sortWeight: 1
                '400':
                    description: Bad Request
                    schema:
                        required: false
                        description: Bad Request
                        $ref: '#/definitions/Messages'
                    sortWeight: 2
            sortWeight: 1
            devStatus: deving
            devStatusName: 开发中
            showDevStatus: true
            skipCommonParam: false
            label: ''
            developer: ''
            modifyDate: '2018-08-17 21:27:47'
    /borrower-perms:
        get:
            tags:
                - /borrower-perms
            summary: 获取当前登录馆员所在馆中所有的读者证权限
            description: <p><br></p>
            operationId: listBorrowerPermissions
            schemes:
                - http
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                -   name: limit
                    in: query
                    description: 单次返回最多数量
                    required: false
                    type: integer
                    default: ''
                    format: int32
            responses:
                '200':
                    description: Return a list of permissions
                    schema:
                        required: false
                        description: Return a list of permissions
                        $ref: '#/definitions/BorrowerPermissions'
                    sortWeight: 1
                '400':
                    description: Bad request
                    schema:
                        required: false
                        description: Bad request
                        $ref: '#/definitions/Messages'
                    sortWeight: 2
            sortWeight: 1
            devStatus: deving
            devStatusName: 开发中
            showDevStatus: true
            skipCommonParam: false
            label: ''
            developer: ''
            modifyDate: '2018-08-17 21:25:38'
    '/borrower-perms/borrowers/{borrowerId}':
        get:
            tags:
                - /borrower-perms
            summary: 获取该BorrowerId对应的读者证权限
            description: <p><br></p>
            operationId: getBorrowerPermissionsById
            schemes:
                - http
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                -   name: userId
                    in: path
                    description: The id of the user to retrieve
                    required: true
                    type: string
                    default: ''
                    format: ''
            responses:
                '200':
                    description: Expected response to a valid request
                    schema:
                        required: false
                        description: Expected response to a valid request
                        $ref: '#/definitions/BorrowerPermissions'
                    sortWeight: 1
                '400':
                    description: Bad request
                    schema:
                        required: false
                        description: Bad request
                        $ref: '#/definitions/Messages'
                    sortWeight: 2
            sortWeight: 4
            devStatus: deving
            devStatusName: 开发中
            showDevStatus: true
            skipCommonParam: false
            label: ''
            developer: ''
            modifyDate: '2018-08-17 21:25:50'
    '/borrowers/{borrowerId}':
        get:
            tags:
                - /borrowers
            summary: 获取该borrowerId读者信息
            description: <p><br></p>
            operationId: getBorrowerById
            schemes:
                - http
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                -   name: borrowerId
                    in: path
                    description: The id of the borrower to retrieve
                    required: true
                    type: string
                    default: ''
                    format: ''
            responses:
                '200':
                    description: Expected response to a valid request
                    schema:
                        required: false
                        description: Expected response to a valid request
                        $ref: '#/definitions/Borrower'
                    sortWeight: 1
                '400':
                    description: Bad request
                    schema:
                        required: false
                        description: Bad request
                        $ref: '#/definitions/Messages'
                    sortWeight: 2
            sortWeight: 3
            devStatus: deving
            devStatusName: 开发中
            showDevStatus: true
            skipCommonParam: false
            label: ''
            developer: ''
            modifyDate: '2018-08-17 21:25:18'
        put:
            tags:
                - /borrowers
            summary: 更新该borrowerId读者信息
            description: <p><br></p>
            operationId: updateBorrowerById
            schemes:
                - http
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                -   name: borrowerId
                    in: path
                    description: The id of the borrower to update
                    required: true
                    type: string
                    default: ''
                    format: ''
                -   in: body
                    name: borrower
                    description: 更新一个读者对象的部分属性
                    required: false
                    schema:
                        $ref: '#/definitions/Borrower'
                    type: ref
                    default: ''
            responses:
                '204':
                    description: Update successfully
                    sortWeight: 1
                '400':
                    description: Bad request
                    schema:
                        required: false
                        description: Bad request
                        $ref: '#/definitions/Messages'
                    sortWeight: 2
            sortWeight: 4
            devStatus: deving
            devStatusName: 开发中
            showDevStatus: true
            skipCommonParam: false
            label: ''
            developer: ''
            modifyDate: '2018-08-17 21:23:51'
    /btypes:
        get:
            tags:
                - /btypes
            summary: 获取读者类型常量
            description: <p><br></p>
            operationId: listBtypes
            schemes:
                - http
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                -   name: limit
                    in: query
                    description: 单次返回最多数量
                    required: false
                    type: integer
                    default: ''
                    format: int32
            responses:
                '200':
                    description: Return a list of btypes
                    schema:
                        required: false
                        description: Return a list of btypes
                        $ref: '#/definitions/BType'
                    sortWeight: 1
                '400':
                    description: Bad Request
                    schema:
                        required: false
                        description: Bad Request
                        $ref: '#/definitions/Messages'
                    sortWeight: 2
            sortWeight: 1
            devStatus: deving
            devStatusName: 开发中
            showDevStatus: true
            skipCommonParam: false
            label: ''
            developer: ''
            modifyDate: '2018-08-17 21:25:59'
    /burbs:
        post:
            tags:
                - /burbs
            summary: 新建一个罚单对象
            description: <p><br></p>
            operationId: createBurb
            schemes:
                - http
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                -   in: body
                    name: burb
                    description: ''
                    required: true
                    schema:
                        $ref: '#/definitions/Burb'
                    type: ref
                    default: ''
            responses:
                '201':
                    description: Created
                    sortWeight: 1
                '400':
                    description: Bad request
                    schema:
                        required: false
                        description: Bad request
                        $ref: '#/definitions/Messages'
                    sortWeight: 2
            sortWeight: 2
            devStatus: deving
            devStatusName: 开发中
            showDevStatus: true
            skipCommonParam: false
            label: ''
            developer: ''
            modifyDate: '2018-08-17 21:28:00'
    '/burbs/{burbId}':
        get:
            tags:
                - /burbs
            summary: 获取该burbId罚单信息
            description: <p><br></p>
            operationId: getBurbById
            schemes:
                - http
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                -   name: burbId
                    in: path
                    description: The id of the burb to retrieve
                    required: true
                    type: string
                    default: ''
                    format: ''
            responses:
                '200':
                    description: Expected response to a valid request
                    schema:
                        required: false
                        description: Expected response to a valid request
                        $ref: '#/definitions/Burb'
                    sortWeight: 1
                '400':
                    description: Bad request
                    schema:
                        required: false
                        description: Bad request
                        $ref: '#/definitions/Messages'
                    sortWeight: 2
            sortWeight: 3
            devStatus: deving
            devStatusName: 开发中
            showDevStatus: true
            skipCommonParam: false
            label: ''
            developer: ''
            modifyDate: '2018-08-17 21:28:09'
        put:
            tags:
                - /burbs
            summary: 更新该burbId书目信息
            description: <p><br></p>
            operationId: updateBurbById
            schemes:
                - http
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                -   name: burbId
                    in: path
                    description: The id of the burb to update
                    required: true
                    type: string
                    default: ''
                    format: ''
                -   in: body
                    name: burb
                    description: 更新一个书目对象的部分属性
                    required: false
                    schema:
                        $ref: '#/definitions/Burb'
                    type: ref
                    default: ''
            responses:
                '204':
                    description: Update successfully
                    sortWeight: 1
                '400':
                    description: Bad request
                    schema:
                        required: false
                        description: Bad request
                        $ref: '#/definitions/Messages'
                    sortWeight: 2
            sortWeight: 4
            devStatus: deving
            devStatusName: 开发中
            showDevStatus: true
            skipCommonParam: false
            label: ''
            developer: ''
            modifyDate: '2018-08-17 21:28:15'
    /circs:
        post:
            tags:
                - /circs
            summary: 新建一条流通记录
            description: <p><br></p>
            operationId: createCirc
            schemes:
                - http
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                -   in: body
                    name: circ
                    description: ''
                    required: true
                    schema:
                        $ref: '#/definitions/Circ'
                    type: ref
                    default: ''
                -   name: borrowerId
                    in: path
                    description: The id of the borrower to retrieve
                    required: true
                    type: string
                    default: ''
                    format: ''
            responses:
                '201':
                    description: Created
                    sortWeight: 1
                '400':
                    description: Bad request
                    schema:
                        required: false
                        description: Bad request
                        $ref: '#/definitions/Messages'
                    sortWeight: 2
            sortWeight: 1
            devStatus: deving
            devStatusName: 开发中
            showDevStatus: true
            skipCommonParam: false
            label: ''
            developer: ''
            modifyDate: '2018-08-17 21:28:28'
    /circs-history:
        post:
            tags:
                - /circs/history
            summary: 新建一条历史流通记录
            description: <p><br></p>
            operationId: createCircHistoryByBorrowerId
            schemes:
                - http
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                -   in: body
                    name: circ
                    description: ''
                    required: true
                    schema:
                        $ref: '#/definitions/CircHistory'
                    type: ref
                    default: ''
                -   name: borrowerId
                    in: path
                    description: The id of the borrower to retrieve
                    required: true
                    type: string
                    default: ''
                    format: ''
            responses:
                '201':
                    description: Created
                    sortWeight: 1
                '400':
                    description: Bad request
                    schema:
                        required: false
                        description: Bad request
                        $ref: '#/definitions/Messages'
                    sortWeight: 2
            sortWeight: 1
            devStatus: deving
            devStatusName: 开发中
            showDevStatus: true
            skipCommonParam: false
            label: ''
            developer: ''
            modifyDate: '2018-08-17 21:29:14'
    '/circs-history/borrowers/{borrowerId}':
        get:
            tags:
                - /circs/history
            summary: 获取该BorrowerId历史流通记录
            description: <p><br></p>
            operationId: listCircHistoriesByBorrowerId
            schemes:
                - http
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                -   name: limit
                    in: query
                    description: 单次返回最多数量
                    required: false
                    type: integer
                    default: ''
                    format: int32
                -   name: borrowerId
                    in: path
                    description: The id of the borrower to retrieve
                    required: true
                    type: string
                    default: ''
                    format: ''
            responses:
                '200':
                    description: Return a list of CircHistories
                    schema:
                        required: false
                        description: Return a list of CircHistories
                        $ref: '#/definitions/CircHistories'
                    sortWeight: 1
                '400':
                    description: Bad Request
                    schema:
                        required: false
                        description: Bad Request
                        $ref: '#/definitions/Messages'
                    sortWeight: 2
            sortWeight: 2
            devStatus: deving
            devStatusName: 开发中
            showDevStatus: true
            skipCommonParam: false
            label: ''
            developer: ''
            modifyDate: '2018-08-17 21:29:30'
    '/circs-history/items/{itemId}':
        get:
            tags:
                - /circs/history
            summary: 获取该itemId的历史流通记录
            description: <p><br></p>
            operationId: listCircHistoryByItemId
            schemes:
                - http
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                -   name: limit
                    in: query
                    description: 单次返回最多数量
                    required: false
                    type: integer
                    default: ''
                    format: int32
                -   name: itemId
                    in: path
                    description: The id of the item to retrieve
                    required: true
                    type: string
                    default: ''
                    format: ''
            responses:
                '200':
                    description: Return circHistory
                    schema:
                        required: false
                        description: Return circHistory
                        $ref: '#/definitions/CircHistories'
                    sortWeight: 1
                '400':
                    description: Bad Request
                    schema:
                        required: false
                        description: Bad Request
                        $ref: '#/definitions/Messages'
                    sortWeight: 2
            sortWeight: 3
            devStatus: deving
            devStatusName: 开发中
            showDevStatus: true
            skipCommonParam: false
            label: ''
            developer: ''
            modifyDate: '2018-08-17 21:29:38'
        post:
            tags:
                - /circs/history
            summary: 新建该itemId的历史流通记录
            description: <p><br></p>
            operationId: createCircHistoryByItemId
            schemes:
                - http
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                -   in: body
                    name: circHistory
                    description: ''
                    required: true
                    schema:
                        $ref: '#/definitions/CircHistory'
                    type: ref
                    default: ''
                -   name: itemId
                    in: path
                    description: The id of the item to retrieve
                    required: true
                    type: string
                    default: ''
                    format: ''
            responses:
                '201':
                    description: Created
                    sortWeight: 1
                '400':
                    description: Bad request
                    schema:
                        required: false
                        description: Bad request
                        $ref: '#/definitions/Messages'
                    sortWeight: 2
            sortWeight: 4
            devStatus: deving
            devStatusName: 开发中
            showDevStatus: true
            skipCommonParam: false
            label: ''
            developer: ''
            modifyDate: '2018-08-17 21:29:48'
    '/circs/borrowers/{borrowerId}':
        get:
            tags:
                - /circs
            summary: 获取该BorrowerId流通记录
            description: <p><br></p>
            operationId: listCircsByBorrowerId
            schemes:
                - http
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                -   name: limit
                    in: query
                    description: 单次返回最多数量
                    required: false
                    type: integer
                    default: ''
                    format: int32
                -   name: borrowerId
                    in: path
                    description: The id of the borrower to retrieve
                    required: true
                    type: string
                    default: ''
                    format: ''
            responses:
                '200':
                    description: Return a list of circs
                    schema:
                        required: false
                        description: Return a list of circs
                        $ref: '#/definitions/Circs'
                    sortWeight: 1
                '400':
                    description: Bad Request
                    schema:
                        required: false
                        description: Bad Request
                        $ref: '#/definitions/Messages'
                    sortWeight: 2
            sortWeight: 2
            devStatus: deving
            devStatusName: 开发中
            showDevStatus: true
            skipCommonParam: false
            label: ''
            developer: ''
            modifyDate: '2018-08-17 21:28:35'
    '/circs/items/{itemId}':
        get:
            tags:
                - /circs
            summary: 获取该itemId的流通记录
            description: <p><br></p>
            operationId: listCircByItemId
            schemes:
                - http
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                -   name: limit
                    in: query
                    description: 单次返回最多数量
                    required: false
                    type: integer
                    default: ''
                    format: int32
                -   name: itemId
                    in: path
                    description: The id of the item to retrieve
                    required: true
                    type: string
                    default: ''
                    format: ''
            responses:
                '200':
                    description: Return circ
                    schema:
                        required: false
                        description: Return circ
                        $ref: '#/definitions/Circs'
                    sortWeight: 1
                '400':
                    description: Bad Request
                    schema:
                        required: false
                        description: Bad Request
                        $ref: '#/definitions/Messages'
                    sortWeight: 2
            sortWeight: 3
            devStatus: deving
            devStatusName: 开发中
            showDevStatus: true
            skipCommonParam: false
            label: ''
            developer: ''
            modifyDate: '2018-08-17 21:28:40'
        post:
            tags:
                - /circs
            summary: 新建该itemId的流通记录
            description: <p><br></p>
            operationId: createCircByItemId
            schemes:
                - http
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                -   in: body
                    name: circ
                    description: ''
                    required: true
                    schema:
                        $ref: '#/definitions/Circ'
                    type: ref
                    default: ''
                -   name: itemId
                    in: path
                    description: The id of the item to retrieve
                    required: true
                    type: string
                    default: ''
                    format: ''
            responses:
                '201':
                    description: Created
                    sortWeight: 1
                '400':
                    description: Bad request
                    schema:
                        required: false
                        description: Bad request
                        $ref: '#/definitions/Messages'
                    sortWeight: 2
            sortWeight: 4
            devStatus: deving
            devStatusName: 开发中
            showDevStatus: true
            skipCommonParam: false
            label: ''
            developer: ''
            modifyDate: '2018-08-17 21:28:54'
    /items:
        get:
            tags:
                - /items
            summary: 获取馆藏对象列表
            description: <p><br></p>
            operationId: listItems
            schemes:
                - http
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                -   name: limit
                    in: query
                    description: 单次返回最多数量
                    required: false
                    type: integer
                    default: ''
                    format: int32
            responses:
                '200':
                    description: Return a list of items
                    schema:
                        required: false
                        description: Return a list of items
                        $ref: '#/definitions/Items'
                    sortWeight: 1
                '400':
                    description: Bad Request
                    schema:
                        required: false
                        description: Bad Request
                        $ref: '#/definitions/Messages'
                    sortWeight: 2
            sortWeight: 1
            devStatus: deving
            devStatusName: 开发中
            showDevStatus: true
            skipCommonParam: false
            label: ''
            developer: ''
            modifyDate: '2018-08-17 21:26:31'
    '/items/{itemId}':
        get:
            tags:
                - /items
            summary: 获取该itemId馆藏信息
            description: <p><br></p>
            operationId: getItemById
            schemes:
                - http
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                -   name: itemId
                    in: path
                    description: The id of the item to retrieve
                    required: true
                    type: string
                    default: ''
                    format: ''
            responses:
                '200':
                    description: Expected response to a valid request
                    schema:
                        required: false
                        description: Expected response to a valid request
                        $ref: '#/definitions/Item'
                    sortWeight: 1
                '400':
                    description: Bad request
                    schema:
                        required: false
                        description: Bad request
                        $ref: '#/definitions/Messages'
                    sortWeight: 2
            sortWeight: 3
            devStatus: deving
            devStatusName: 开发中
            showDevStatus: true
            skipCommonParam: false
            label: ''
            developer: ''
            modifyDate: '2018-08-17 21:26:44'
        put:
            tags:
                - /items
            summary: 更新该itemId馆藏信息
            description: <p><br></p>
            operationId: updateItemById
            schemes:
                - http
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                -   name: itemId
                    in: path
                    description: The id of the item to update
                    required: true
                    type: string
                    default: ''
                    format: ''
                -   in: body
                    name: item
                    description: 更新一个馆藏对象的部分属性
                    required: false
                    schema:
                        $ref: '#/definitions/Item'
                    type: ref
                    default: ''
            responses:
                '204':
                    description: Update successfully
                    sortWeight: 1
                '400':
                    description: Bad request
                    schema:
                        required: false
                        description: Bad request
                        $ref: '#/definitions/Messages'
                    sortWeight: 2
            sortWeight: 4
            devStatus: deving
            devStatusName: 开发中
            showDevStatus: true
            skipCommonParam: false
            label: ''
            developer: ''
            modifyDate: '2018-08-17 21:26:52'
    /itypes:
        get:
            tags:
                - /itypes
            summary: 获取馆藏类型
            description: <p><br></p>
            operationId: listItypes
            schemes:
                - http
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                -   name: limit
                    in: query
                    description: 单次返回最多数量
                    required: false
                    type: integer
                    default: ''
                    format: int32
            responses:
                '200':
                    description: Return a list of btypes
                    schema:
                        required: false
                        description: Return a list of btypes
                        $ref: '#/definitions/BType'
                    sortWeight: 1
                '400':
                    description: Bad Request
                    schema:
                        required: false
                        description: Bad Request
                        $ref: '#/definitions/Messages'
                    sortWeight: 2
            sortWeight: 1
            devStatus: deving
            devStatusName: 开发中
            showDevStatus: true
            skipCommonParam: false
            label: ''
            developer: ''
            modifyDate: '2018-08-17 21:27:02'
    /locations:
        get:
            tags:
                - /locations
            summary: 获取分馆对象
            description: <p><br></p>
            operationId: listLocations
            schemes:
                - http
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                -   name: limit
                    in: query
                    description: 单次返回最多数量
                    required: false
                    type: integer
                    default: ''
                    format: int32
            responses:
                '200':
                    description: Return a list of locations
                    schema:
                        required: false
                        description: Return a list of locations
                        $ref: '#/definitions/Locations'
                    sortWeight: 1
                '400':
                    description: Bad Request
                    schema:
                        required: false
                        description: Bad Request
                        $ref: '#/definitions/Messages'
                    sortWeight: 2
            sortWeight: 1
            devStatus: deving
            devStatusName: 开发中
            showDevStatus: true
            skipCommonParam: false
            label: ''
            developer: ''
            modifyDate: '2018-08-17 21:29:56'
    '/locations/{location_name}':
        get:
            tags:
                - /locations
            summary: 获取该location_name分馆对象
            description: <p><br></p>
            operationId: getLocationByName
            schemes:
                - http
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                -   name: location_name
                    in: path
                    description: The id of the location to retrieve
                    required: true
                    type: string
                    default: ''
                    format: ''
            responses:
                '200':
                    description: Expected response to a valid request
                    schema:
                        required: false
                        description: Expected response to a valid request
                        $ref: '#/definitions/Location'
                    sortWeight: 1
                '400':
                    description: Bad request
                    schema:
                        required: false
                        description: Bad request
                        $ref: '#/definitions/Messages'
                    sortWeight: 2
            sortWeight: 3
            devStatus: deving
            devStatusName: 开发中
            showDevStatus: true
            skipCommonParam: false
            label: ''
            developer: ''
            modifyDate: '2018-08-17 21:30:08'
    /messages:
        get:
            tags:
                - /messages
            summary: 返回所有错误编号定义
            description: <p><br></p>
            operationId: GetMessages
            schemes:
                - http
            consumes:
                - application/json
            produces:
                - application/json
            parameters: []
            responses:
                '200':
                    description: ''
                    schema:
                        required: false
                        description: ''
                        $ref: '#/definitions/Messages'
                    sortWeight: 1
            sortWeight: 1
            devStatus: deving
            devStatusName: 开发中
            showDevStatus: true
            skipCommonParam: false
            label: ''
            developer: ''
            modifyDate: '2018-08-17 21:04:37'
    /stat/category:
        get:
            tags:
                - /stat/category
            summary: 获取流通记录类型
            description: <p><br></p>
            operationId: listStatCategory
            schemes:
                - http
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                -   name: limit
                    in: query
                    description: 单次返回最多数量
                    required: false
                    type: integer
                    default: ''
                    format: int32
            responses:
                '200':
                    description: Return a list of stat_category
                    schema:
                        required: false
                        description: Return a list of stat_category
                        $ref: '#/definitions/StatCategory'
                    sortWeight: 1
                '400':
                    description: Bad Request
                    schema:
                        required: false
                        description: Bad Request
                        $ref: '#/definitions/Messages'
                    sortWeight: 2
            sortWeight: 1
            devStatus: deving
            devStatusName: 开发中
            showDevStatus: true
            skipCommonParam: false
            label: ''
            developer: ''
            modifyDate: '2018-08-17 21:30:23'
    /stat/data:
        get:
            tags:
                - /stat/data
            summary: 获取馆藏流通记录
            description: <p><br></p>
            operationId: getStatData
            schemes:
                - http
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                -   name: limit
                    in: query
                    description: 单次返回最多数量
                    required: false
                    type: integer
                    default: ''
                    format: int32
            responses:
                '200':
                    description: Return a list of statdata
                    schema:
                        required: false
                        description: Return a list of statdata
                        $ref: '#/definitions/StatData'
                    sortWeight: 1
                '400':
                    description: Bad Request
                    schema:
                        required: false
                        description: Bad Request
                        $ref: '#/definitions/Messages'
                    sortWeight: 2
            sortWeight: 1
            devStatus: deving
            devStatusName: 开发中
            showDevStatus: true
            skipCommonParam: false
            label: ''
            developer: ''
            modifyDate: '2018-08-17 21:30:15'
    /user-perms:
        get:
            tags:
                - /user-perms
            summary: 获取所有馆员权限的类型
            description: <p>返回passkey表中所有的馆员权限与类型</p>
            operationId: listUserPermissions
            schemes:
                - http
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                -   name: limit
                    in: query
                    description: 单次返回最多数量
                    required: false
                    type: integer
                    default: ''
                    format: int32
            responses:
                '200':
                    description: Return a list of permissions
                    schema:
                        required: false
                        description: Return a list of permissions
                        $ref: '#/definitions/UserPermissions'
                    sortWeight: 1
                '400':
                    description: Bad Request
                    schema:
                        required: false
                        description: Bad Request
                        $ref: '#/definitions/Messages'
                    sortWeight: 2
            sortWeight: 1
            devStatus: deving
            devStatusName: 开发中
            showDevStatus: true
            skipCommonParam: false
            label: ''
            developer: ''
            modifyDate: '2018-08-17 21:24:17'
    '/user-perms/users/{userId}':
        get:
            tags:
                - /user-perms
            summary: 获取该UserId对应的馆员权限对象
            description: <p>返回当前UserId对应的馆员的权限与类型</p>
            operationId: getUserPermissionsByUserId
            schemes:
                - http
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                -   name: userId
                    in: path
                    description: The id of the user to retrieve
                    required: true
                    type: string
                    default: ''
                    format: ''
            responses:
                '200':
                    description: Expected response to a valid request
                    schema:
                        required: false
                        description: Expected response to a valid request
                        $ref: '#/definitions/UserPermissions'
                    sortWeight: 1
                '400':
                    description: Bad request
                    schema:
                        required: false
                        description: Bad request
                        $ref: '#/definitions/Messages'
                    sortWeight: 2
            sortWeight: 8
            devStatus: deving
            devStatusName: 开发中
            showDevStatus: true
            skipCommonParam: false
            label: ''
            developer: ''
            modifyDate: '2018-08-17 21:24:28'
    '/users/{userId}':
        get:
            tags:
                - /users
            summary: 获取该userId馆员信息
            description: <p>获取当前userId馆员信息<br></p>
            operationId: getUserById
            schemes:
                - http
            consumes:
                - application/json
            produces:
                - application/json
            parameters:
                -   name: userId
                    in: path
                    description: The id of the user to retrieve
                    required: true
                    type: string
                    default: ''
                    format: ''
            responses:
                '200':
                    description: Expected response to a valid request
                    schema:
                        required: false
                        description: Expected response to a valid request
                        $ref: '#/definitions/User'
                    sortWeight: 1
                '400':
                    description: Bad request
                    schema:
                        required: false
                        description: Bad request
                        $ref: '#/definitions/Messages'
                    sortWeight: 2
            sortWeight: 3
            devStatus: deving
            devStatusName: 开发中
            showDevStatus: true
            skipCommonParam: false
            label: ''
            developer: ''
            modifyDate: '2018-08-17 21:24:06'
definitions:
    Burbs:
        type: array
        description: '::burb'
        items:
            required: false
            description: ''
            $ref: '#/definitions/Burb'
    User:
        type: object
        required:
            - must_change_pswd
            - passkey
            - user_id
            - user_name
        properties:
            user_id:
                type: integer
                format: int32
                required: true
                description: ''
            user_name:
                type: string
                required: true
                description: ''
            passkey:
                type: string
                required: true
                description: ''
            must_change_pswd:
                type: boolean
                required: true
                description: ''
            last_updated_date:
                type: string
                format: date
                required: false
                description: ''
            default_location:
                type: string
                required: false
                description: ''
        description: '::user_id'
    Items:
        type: array
        description: '::item'
        items:
            required: false
            description: ''
            $ref: '#/definitions/Item'
    Users:
        type: array
        description: '::user_id'
        items:
            required: false
            description: ''
            $ref: '#/definitions/User'
    StatData:
        type: object
        required:
            - location
            - now_and_then
            - stat_category
        properties:
            stat_category:
                type: string
                required: true
                description: 分类名
            stat_subcategory:
                type: string
                required: false
                description: 子分类名
            location:
                type: string
                required: true
                description: 分馆名
            now_and_then:
                type: string
                format: date-time
                required: true
                description: ''
        description: '::stat_data'
    Locations:
        type: array
        description: '::location'
        items:
            required: false
            description: ''
            $ref: '#/definitions/Location'
    Location:
        type: object
        required:
            - location
        properties:
            location:
                type: string
                required: true
                description: 分馆代号
            name:
                type: string
                required: false
                description: 分馆全名
            pac_requests_allowed:
                type: boolean
                required: false
                description: PAC预约标记
            ibarcode_prefix:
                type: string
                required: false
                description: 馆藏二维码前缀
            ibarcode_length:
                type: integer
                format: int32
                required: false
                description: 馆藏二维码长度
            charge_for_closed_days:
                type: boolean
                required: false
                description: ''
            lost_to_missing:
                type: integer
                format: int32
                required: false
                description: ''
            cl_ret_to_missing:
                type: integer
                format: int32
                required: false
                description: ''
            days_to_reshelve:
                type: integer
                format: int32
                required: false
                description: ''
            recall_due_days:
                type: integer
                format: int32
                required: false
                description: ''
            renew_from_transaction:
                type: boolean
                required: false
                description: ''
            print_return_address:
                type: boolean
                required: false
                description: ''
            print_addr_corr_req:
                type: boolean
                required: false
                description: ''
            reminder_amount:
                type: integer
                format: int32
                required: false
                description: ''
            reminder_overdues:
                type: integer
                format: int32
                required: false
                description: ''
            billing_amount:
                type: integer
                format: int32
                required: false
                description: ''
            notice_sort:
                type: string
                required: false
                description: ''
            notice_form:
                type: integer
                format: int32
                required: false
                description: ''
            default_hold_notice_type:
                type: integer
                format: int32
                required: false
                description: ''
            reminder_invoice_delay:
                type: integer
                format: int32
                required: false
                description: ''
            borrower_label:
                type: string
                required: false
                description: ''
            primary_button_label:
                type: string
                required: false
                description: ''
            secondary_button_label:
                type: string
                required: false
                description: ''
            instructor_letter_language:
                type: string
                required: false
                description: ''
            cki_notes_language_rb:
                type: string
                required: false
                description: ''
            cki_notes_language_rw:
                type: string
                required: false
                description: ''
            instructor_label:
                type: string
                required: false
                description: ''
            hide_next_issue:
                type: boolean
                required: false
                description: ''
            default_reserve_location:
                type: string
                required: false
                description: ''
            hb_std_issue_slip:
                type: boolean
                required: false
                description: ''
            hb_inst_issue_slip:
                type: boolean
                required: false
                description: ''
            hb_borrower_rating:
                type: boolean
                required: false
                description: ''
            crc_show_barcode:
                type: boolean
                required: false
                description: ''
            crc_override_th:
                type: boolean
                required: false
                description: ''
            cki_damage_status:
                type: string
                required: false
                description: ''
            cki_damage_show_borrower:
                type: boolean
                required: false
                description: ''
            generate_billing_notices:
                type: boolean
                required: false
                description: ''
        description: '::location'
    Borrowers:
        type: array
        description: '::borrower'
        items:
            required: false
            description: ''
            $ref: '#/definitions/Borrower'
    StatCategory:
        type: object
        required:
            - stat_category
        properties:
            stat_category:
                type: string
                required: true
                description: 统计分类代号
            description:
                type: string
                required: false
                description: 统计分类介绍
            retention_days:
                type: integer
                format: int32
                required: false
                description: 保留时间
            time_unit:
                type: integer
                format: int32
                required: false
                description: 时间单位
            summary_data_type:
                type: integer
                format: int32
                required: false
                description: 归纳数据类型
            detail_code_type:
                type: integer
                format: int32
                required: false
                description: 详细数据类型
            days_to_collapse:
                type: integer
                format: int32
                required: false
                description: ''
            collapse_to:
                type: integer
                format: int32
                required: false
                description: ''
            rpt_label:
                type: string
                required: false
                description: 报告标记
        description: '::stat_category'
    CircHistories:
        type: array
        description: '::circ_history'
        items:
            required: false
            description: ''
            $ref: '#/definitions/CircHistory'
    Itypes:
        type: array
        description: '::itype'
        items:
            type: string
            required: false
            description: ''
    Bib:
        type: object
        required:
            - bib_id
        properties:
            bib_id:
                type: integer
                format: int32
                required: true
                description: 书目编号
            unused_smallint:
                type: integer
                format: int32
                required: false
                description: ''
            unused_ord_type:
                type: integer
                format: int32
                required: false
                description: ''
            indicators:
                type: string
                required: false
                description: 提示
            text:
                type: string
                required: false
                description: 备注
            cat_link_xref_id:
                type: integer
                format: int32
                required: false
                description: ''
            link_type:
                type: integer
                format: int32
                required: false
                description: ''
            tag:
                type: string
                required: false
                description: 标签
            tagord:
                type: string
                required: false
                description: 标签排号
            cat_link_type_id:
                type: integer
                format: int32
                required: false
                description: ''
        description: '::bib'
    Circs:
        type: array
        description: '::circ'
        items:
            required: false
            description: ''
            $ref: '#/definitions/Circ'
    CircHistory:
        type: object
        properties:
            borrower_id:
                type: integer
                format: int32
                required: false
                description: 读者号
            item_id:
                type: integer
                format: int32
                required: false
                description: 馆藏号
            cki_date:
                type: integer
                format: int32
                required: false
                description: 还书日期
            cki_time:
                type: integer
                format: int32
                required: false
                description: 还书时间
            cki_location:
                type: string
                required: false
                description: 还书分馆
            cko_date:
                type: integer
                format: int32
                required: false
                description: 上次借出日期
            cko_time:
                type: integer
                format: int32
                required: false
                description: 上次借出时间
            cko_location:
                type: string
                required: false
                description: 借书分馆
        description: '::circ_history'
    UserPermissions:
        type: array
        description: '::passkey'
        items:
            type: object
            format: ''
            required: false
            description: ''
            title: userPermission
            properties:
                passkey:
                    type: string
                    required: true
                    description: 权限类型
                descr:
                    type: string
                    required: false
                    description: 权限类型描述
    Messages:
        type: array
        description: meesages
        items:
            type: object
            format: ''
            required: false
            description: ''
            title: Message
            properties:
                code:
                    type: integer
                    format: int32
                    required: true
                    description: 错误代码
                message:
                    type: string
                    required: true
                    description: 错误信息
                data:
                    type: object
                    format: ''
                    required: false
                    description: 可选返回数据
                    title: data
                    properties: {}
    Item:
        type: object
        required:
            - item_id
        properties:
            item_id:
                type: integer
                format: int32
                required: true
                description: 馆藏号
            ibarcode:
                type: string
                required: false
                description: 馆藏二维码
            bib_id:
                type: integer
                format: int32
                required: false
                description: 书目号
            location:
                type: string
                required: false
                description: 所在分馆
            collection:
                type: string
                required: false
                description: 收藏类别
            call_reconst:
                type: string
                required: false
                description: 索书号
            copy_reconst:
                type: string
                required: false
                description: ''
            price:
                type: integer
                format: int32
                required: false
                description: 价格
            creation_date:
                type: integer
                format: int32
                required: false
                description: 馆藏创建日期
            last_update_date:
                type: integer
                format: int32
                required: false
                description: 上次更新日期
            notes:
                type: string
                required: false
                description: 备注
            fast_add_flag:
                type: boolean
                required: false
                description: 快速添加标记
            delete_flag:
                type: boolean
                required: false
                description: 删除标记
            itype:
                type: string
                required: false
                description: 馆藏类型
            item_status:
                type: string
                required: false
                description: 馆藏状态
            cki_notes:
                type: string
                required: false
                description: cki备注
            last_cko_date:
                type: integer
                format: int32
                required: false
                description: 上次借出日期
            last_cko_time:
                type: integer
                format: int32
                required: false
                description: 上次借出时间
            cko_location:
                type: string
                required: false
                description: 借出所在馆
            n_ckos:
                type: integer
                format: int32
                required: false
                description: 总共借出次数
            borrower_id:
                type: integer
                format: int32
                required: false
                description: 正在借阅的读者的编号
            due_date:
                type: integer
                format: int32
                required: false
                description: 到期日期
            due_time:
                type: integer
                format: int32
                required: false
                description: 到期时间
            last_status_update_date:
                type: integer
                format: int32
                required: false
                description: 上次状态更新日期
            n_inhouse_uses:
                type: integer
                format: int32
                required: false
                description: 馆内借阅总次数
            last_inhouse_use_date:
                type: integer
                format: int32
                required: false
                description: 上次馆内借阅日期
        description: '::item'
    Burb:
        type: object
        required:
            - amount
            - block
            - borrower_id
            - burb_status
            - date
            - de_block_delete_date
            - debt_location
            - item_cko_location
            - item_id
            - ord
            - reference_id
            - trans_location
        properties:
            borrower_id:
                type: integer
                format: int32
                required: true
                description: 读者编号
            reference_id:
                type: integer
                format: int32
                required: true
                description: 参考编号
            ord:
                type: integer
                format: int32
                required: true
                description: 排序号
            item_id:
                type: integer
                format: int32
                required: true
                description: 馆藏号
            date:
                type: integer
                format: int32
                required: true
                description: 日期
            block:
                type: string
                required: true
                description: 违规标记
            amount:
                type: integer
                format: int32
                required: true
                description: 罚款数量
            notice_id:
                type: integer
                format: int32
                required: false
                description: 提醒编号
            invoice_id:
                type: integer
                format: int32
                required: false
                description: 发票号
            de_block_delete_date:
                type: integer
                format: int32
                required: true
                description: ''
            burb_status:
                type: integer
                format: int32
                required: true
                description: 罚款单状态
            item_cko_location:
                type: string
                required: true
                description: 馆藏借出分馆
            trans_location:
                type: string
                required: true
                description: 账单生成分馆
            debt_location:
                type: string
                required: true
                description: 交钱分馆
        description: '::burb'
    Borrower:
        type: object
        required:
            - borrower_id
        properties:
            borrower_id:
                type: integer
                format: int32
                required: true
                description: 读者序号
            location:
                type: string
                required: false
                description: 读者所属分馆
            btype:
                type: string
                required: false
                description: 读者类型
            second_id:
                type: string
                required: false
                description: 身份证号
            reconst:
                type: string
                required: false
                description: 姓名
            last_cko_date:
                type: integer
                format: int32
                required: false
                description: 上次借书时间
            n_ckos:
                type: integer
                format: int32
                required: false
                description: 借书总数
            registration_date:
                type: integer
                format: int32
                required: false
                description: 注册时间
            expiration_date:
                type: integer
                format: int32
                required: false
                description: 过期时间
            last_update_date:
                type: integer
                format: int32
                required: false
                description: 上次更新时间
            borrower_note:
                type: string
                required: false
                description: 读者备注
            btype_descr:
                type: string
                required: false
                description: 读者卡类型
            loc_descr:
                type: string
                required: false
                description: 读者所属馆
        description: '::borrower_view'
    Circ:
        type: object
        required:
            - borrower_id
            - item_id
        properties:
            borrower_id:
                type: integer
                format: int32
                required: true
                description: 读者号
            item_id:
                type: integer
                format: int32
                required: true
                description: 馆藏号
        description: '::circ'
    BorrowerPermissions:
        type: array
        description: '::circ_privilege'
        items:
            type: object
            format: ''
            required: false
            description: ''
            title: BorrowerPermission
            properties:
                location:
                    type: string
                    required: false
                    description: 分馆名
                circ_privilege:
                    type: integer
                    format: int32
                    required: false
                    description: 流通权限序号
                btype:
                    type: string
                    required: false
                    description: 读者证类型
                itype:
                    type: string
                    required: false
                    description: 馆藏所属类型
                value:
                    type: string
                    required: false
                    description: 可借馆藏数量上限
    Blocks:
        type: object
        required:
            - block
        properties:
            block:
                type: string
                required: true
                description: 违禁类型代号
            descr:
                type: string
                required: false
                description: 违禁类型描述
            print_notice_flag:
                type: integer
                format: int32
                required: false
                description: 打印标记
            burb_history_duration:
                type: integer
                format: int32
                required: false
                description: 罚款历史时间段
            notice_language:
                type: string
                required: false
                description: 提示
            day_end_may_not_purge:
                type: boolean
                required: false
                description: ''
            amount_type:
                type: integer
                format: int32
                required: false
                description: 数量类型
            disallow_renewal:
                type: boolean
                required: false
                description: 禁止更新标记
        description: '::block'
    BType:
        type: object
        required:
            - btype
        properties:
            btype:
                type: string
                required: true
                description: 读者类型
            descr:
                type: string
                required: false
                description: 读者类型描述
            card_fee:
                type: integer
                format: int32
                required: false
                description: 办卡费用
            request_period:
                type: integer
                format: int32
                required: false
                description: 预约周期
            n_borrowers:
                type: integer
                format: int32
                required: false
                description: 该类型读者总数
        description: '::btype'
    Bibs:
        type: array
        description: '::bib'
        items:
            required: false
            description: ''
            $ref: '#/definitions/Bib'
errorCodes: []
apiEnvs:
    -   name: mock环境
        baseUrl: 'http://www.sosoapi.com/pass/mock/11865/'
        sortWeight: 2147483647
        mock: true
        status: 'on'
commonParams: []
